@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: 'ASTherma-MediumCondensed';
    src: url('/public/fonts/Therma-Font/ASTherma-MediumCondensed.oft') format('oft'),
         url('/public/fonts/Therma-Font/ASTherma-MediumCondensed.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Lora';
    src: url('/public/fonts/Lora/Lora-Italic-VariableFont_wght.ttf') format('ttf');
    font-weight: 100 900;
    font-style: normal;
}

/*
@font-face {
    font-family: 'Playfair Display';
    src: url('/public/fonts/Playfair_Display/PlayfairDisplay-VariableFont_wght.ttf') format('woff');
    font-weight: 100 900;
    font-style: normal;
}
*/

* {
    font-family: 'Lora', sans-serif;
}

html, body {
    overflow-x: hidden;
}

.text-green-900{
    color: #003618 !important;
}

body{
    background-color: #111827;
}

main{
    min-height: 100vh;
}

.header-logo{
    align-items: center;
    max-width: 150px;
}

.header-logo img{
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.nav-header a{
    text-transform: uppercase;
    font-size: 1.7em;
   
}

.button-reservierung{
    letter-spacing: 1.5px;
    border: 1px solid #003618;
    color: #003618 !important;
}

.button-reservierung:hover{
    background-color: #003618 !important;;
    color: #F5C2DE !important;

}

.header-mobile{
    display: none;
}

footer{
    background-color: #132237;
    padding-bottom: 50px; 
}

.footer-container{
    align-items: center;
    padding-top:50px;
}

footer marquee{
    padding: 20px 0;
}

.footer-marquee span{
    font-family: 'ASTherma-MediumCondensed';
    font-size: 1.5em;
    animation: marquee 20s linear infinite;
}

.footer-marquee {
    display: flex;
    overflow: hidden;
    white-space: nowrap;
    background-color: #14532D; /* Green background */
    color: white;
    font-size: 2rem;
    font-weight: bold;
    font-family: 'Therma', sans-serif;
    text-transform: uppercase;
    padding: 10px 0;
}

.footer-marquee span {
    margin-right: 10px; /* Adjust space between text */
}

@keyframes marquee {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}

@media only screen and (max-width: 600px) {
    .header-desktop{
        display: none;
    }

   .header-mobile{
        display: block;
    }
  }

