@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Playfair Display';
    src: url('/fonts/PlayfairDisplay-VariableFont_wght.woff2') format('woff2');
    font-weight: 100 900; /* Khai báo dải weight hỗ trợ */
    font-style: normal;
}
body{
    font-family: 'Playfair Display', serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Playfair Display', serif;
}
