@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: 'ASTherma-MediumCondensed';
    src: url('/resources/fonts/Therma-Font/ASTherma-MediumCondensed.otf') format('oft'),
         url('/resources/fonts/Therma-Font/ASTherma-MediumCondensed.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'BasierCircle-Regular';
    src: url('/resources/fonts/BasierCircle-Regular/basiercircle-regular-webfont.woff') format('woff'),
         url('/resources/fonts/BasierCircle-Regular/basiercircle-regular-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Lora';
    src: url('/resources/fonts/Lora/Lora-Italic-VariableFont_wght.ttf') format('ttf');
    font-weight: 100 900;
    font-style: normal;
}


@font-face {
    font-family: 'Playfair Display';
    src: url('/resources/fonts/Playfair_Display/PlayfairDisplay-VariableFont_wght.ttf') format('woff');
    font-weight: 100 900;
    font-style: normal;
}


* {
    font-family: 'BasierCircle-Regular', sans-serif;
}



html, body {
    overflow-x: hidden;
}

html p{
    font-size: 14px;
    font-weight: 300;
    font-style: normal;
    color: #000;
}

.text-green-900{
    color: #122237 !important;
}

body{
    background-color: white;
}

main{
    min-height: 100vh;
}

.header-logo{
    align-items: center;
    max-width: 150px;
}

.header-logo img{
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.nav-header a{
    text-transform: uppercase;
    font-size: 1.7em;
    color: #122237;
}

.nav-header a{
    margin-right: 20px;
}

.nav-header a.active{
    border-bottom: 1px solid #003618;
    display: inline-block;
}

.button-reservierung{
    letter-spacing: 1.5px;
    border: 1px solid #003618;
    color: #122237 !important;
    font-size: 14px;
    font-weight: 600;
    padding-left: 50px;
    padding-right: 50px;    
}

.btn-header{
    letter-spacing: 1.5px;
    border: 1px solid #003618;
    color: #122237 !important;
    font-size: 14px;
    font-weight: 600;
    padding-left: 15px;
    padding-right: 15px;
    color: #F5C2DE !important;
    font-weight: 600;
}

.button-reservierung:hover{
    background-color: #122237 !important;;
    color: #F5C2DE !important;

}

.header-mobile{
    display: none;
}

footer{
    background-color: #132237;
    padding-bottom: 50px; 
}

.footer-container{
    align-items: center;
    padding-top:50px;
}

footer marquee{
    padding: 20px 0;
}

.footer-marquee span{
    font-family: 'ASTherma-MediumCondensed';
    font-size: 1.5em;
    animation: marquee 10s linear infinite;
}

.footer-marquee {
    display: flex;
    overflow: hidden;
    white-space: nowrap;
    background-color: #122237; /* Green background */
    color: white;
    font-size: 2rem;
    font-weight: bold;
    font-family: 'Therma', sans-serif;
    text-transform: uppercase;
    padding: 10px 0;
}

.footer-marquee span {
    margin-right: 10px; /* Adjust space between text */
    color: #F5C2DE;
}

.border-dotted-menu{
    border-color: #122237;
}

@keyframes marquee {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}

@media only screen and (max-width: 600px) {
    .header-desktop{
        display: none;
    }

   .header-mobile{
        display: block;
    }
  }

